<div class="navbar p-6">
  <div class="flex-1 pl-4">
    <div>
      <h1 class="text-xl font-semibold">Hello, Gofive</h1>
      <p class="text-[#757575] text-sm">Have a nice day</p>
    </div>
  </div>
  <div class="gap-4">
    <lucide-icon name="bell-dot"></lucide-icon>
    <div class="w-[1px] h-8 bg-[#c2c2c2]"></div>
    <div class="flex gap-4 items-center">
      <div class="w-[45px] h-[45px] rounded-full bg-[#bfbfbf]"></div>
      <div>
        <h1 class="font-semibold">Gofive Company</h1>
        <p class="text-xs">Admin</p>
      </div>
      <lucide-icon name="chevron-down"></lucide-icon>
    </div>
  </div>
</div>
